@model ProductListViewModel

@*@foreach (var p in Model.Products)
    {*@
<div class="rounded-3 border p-1 ">
    <div class="bg-light d-flex justify-content-start rounded-3">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center mt-3 me-4">
                <img src="~/no_foto.jpeg" class="img-thumbnail" style="width:60%" />
            </div>
            <div class="d-flex justify-content-center">
                <p>
                    <small>
                        <img src="~/return.png" style="width:10%" />
                        14 дней на обмен и возврат
                        <br />
                        <img src="~/8703718_yes_check_ok_accept_checklist_icon.png" style="width:10%" />
                        Гарантия на запчасти 1 год
                    </small>
                </p>
            </div>
        </div>
        <div>
            Name
            <br />
            Content
        </div>
    </div>
</div>

@*}*@