@model ProductListViewModel

@*@foreach (var p in Model.Products)
    {*@
<div class="container">
    <div class="card text-white bg-success mb-3" style="max-width: 90rem; max-height: 20rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/no_foto.jpeg" />
                </div>
                <div class="col">
                    Name
                    <br />
                    Description
                </div>
            </div>

        </div>
    </div>
</div>
@*}*@
@*<div page-model="@Model.PagingInfo" page-action="Index"></div>
*@
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col">
            Column
        </div>
        <div class="col">
            Column
        </div>
        <div class="col">
            Column
        </div>
    </div>
</div>