
<div class="p-2">
    <p>

        <h3>Способ доставки</h3>

        <h5>Самовывоз</h5>



        В городе Киев Вы можете получить заказ по адресу:<br />

        ул. Курортная 26, с. 9:00 - 18:15 <br />
        <h5>Курьер</h5><br />
        Доставка курьером доступна только по Киеву. Для получения дополнительной информации обращайтесь, пожалуйста, к Вашему персональному менеджеру.

        <h4>Новая ПОШТА</h4>

        Доставка товара по Украине осуществляется транспортной компанией: Новая почта. 

        Стоимость отправки зависит от габаритов груза и тарифицируется компанией Новая почта

        Точную стоимость доставки можно уточнить на сайте т.к. Новая Почта

        Отправке не подлежат кузовные детали, подкрылки, аккумуляторы.

        Отправка производится только при полной оплате заказа или по предоплате в стоимость доставки посылки туда и обратно.

        Для отслеживания вашего отправления используйте сайт "Новая Почта" и номер вашего отправления из оповещений.

        Возможна отправка компаниями: ИНТАЙМ, Гюнсел. ( по согласованию с менеджером)
    </p>
</div>
