
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner img-thumbnail p-2">
            <div class="carousel-item active">
                <img src="~/Bankoboev.Ru_krasnyi_retro_avtomobil1270-500.jpg.png" class="d-block w-100" style="width:924px; height:500px;">
            </div>
            <div class="carousel-item">
                <img src="~/Car5636721.jpg" class="d-block w-100" style="width:924px; height:500px;">
            </div>
            <div class="carousel-item">
                <img src="~/RedCars-wallpapers-for-mobile-best-of-backgrounds.jpg" class="d-block w-100" style="width:924px; height:500px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


@section Descriptionlayout{
    <div class="p-5">


        <figure class="text-center"><h2>Магазин SSS.ua</h2></figure>
        <br />
        <p>
            <small>
                Поломка автомобиля требует покупки и замены вышедших из строя деталей. При подборе комплектующих следует остановить свой выбор на продукции
                высокого качества. Такой подход позволит свести к минимуму риск быстрого выхода из строя новой детали. В нашем магазине SSS.ua представлены
                только качественные запчасти от известных производителей.
                <figure class="text-center"><h4>Несколько причин приобрести детали у нас</h4></figure>
                Отличительной особенностью нашего магазина является качественный сервис. В выборе
                запасных частей и оформлении заказа помогут высококвалифицированные специалисты с большим опытом работы.
                Причины по которым стоит приобрести товар в нашем магазине:
                <ul>
                    <li>Большой выбор. У нас представлены запчасти высокого качества для автомобилей как отечественного, так и зарубежного производства.</li>
                    <li>
                        Простота выбора детали. Все товары нашего магазина разделены на категории. Это позволяет найти нужную деталь в несколько кликов.
                        При обращении по телефону в выборе помогут квалифицированные менеджеры.
                    </li>
                    <li>Возможность монтажа запасной части. Установить комплектующие можно обратившись на нашу станцию технического обслуживания.</li>
                    <li>
                        Низкая цена. Поставки товара осуществляются напрямую от производителей. Наша ценовая политика приятно удивит любого клиента.
                        Опытные специалисты заменят вышедшую из строя деталь в строгом соответствии с регламентом проведения работ.
                    </li>
                </ul>
                <figure class="text-center"><h4>Как сделать заказ</h4></figure>
                Приобрести товар можно несколькими способами – при личном обращении в наш магазин, в телефонном режиме или онлайн. Особой популярностью пользуются варианты
                заказа запчастей удаленно. Так клиент не тратит свое время на посещение магазина. Для заказа онлайн необходимо заполнить на сайте специализированную форму.
                Существует возможность оформить заказ, обратившись к нашим менеджерам через Viber, Whatsapp или Telegram.
                <figure class="text-center"><h4>Оплата и доставка</h4></figure>
                Оплатить заказ можно как наличными, так и по безналичному расчету. Цены на товар указаны с учетом НДС. Оплата возможна следующими способами:<br />
                <ul>
                    <li>При получении товара у курьера – наличными (комиссия составляет 0%)</li>
                    <li>В кассу при личном посещении магазина – наличными или банковской картой (комиссия 3%)</li>
                    <li>
                        При получении деталей наложенным платежом в компании «Новая Почта» - наличными или банковской картой (Отправка наложенным платежом производится только при  оплате предоплаты в размере
                        стоимости доставки посылки туда и обратно.)
                    </li>
                    <li>Через Приват 24. (комиссионный сбор 1%.)</li>
                </ul>
                Курьерская доставка возможна для клиентов, находящихся на территории Киева. В другие населенные пункты страны отправка запчастей осуществляется с помощью транспортной компании. Скорость и стоимость доставки зависит от организации перевозчика.
            </small>
        </p>
        <p><strong>Покупая товар у нас, клиент получает запчасти высокого качества по привлекательной цене.</strong></p>
    </div>
    }
