<div>
    <p>
        <h3>Способы оплаты</h3><br />

        <h5>ОПЛАТА ЗАКАЗА</h5><br />
        Произвести оплату заказа вы можете либо лично в офисе, либо при помощи банковского перевода. Оn-Line платежи, выполненные при помощи банковской карты не принадлежащей вам, приняты не будут.
        <br />
        <br />
        На текущий момент мы можем предложить Вам  следующие способы оплаты.

        <h5>Наличный способ оплаты</h5>

        Предполагает внесение денежных средств через кассу в пункете выдаче. Возможен вариант оплаты банковсокой картой.

        <h5>Безналичный способ</h5>

        Предполагает безналичный перевод денег из банка в банк.

        Безналичные переводы денег при оплате заказов в интернет-магазине должны осуществляться с указанием вашего персонального «кода клиента».
        Узнать Ваш код вы можете в вашем личном кабинете после авторизации.
        В случае самостоятельного оформления платежных документов в наименовании платежа вам необходимо указать: «Предоплата за автозапчасти от клиента № __ВАШ КОД__»
        Если Вы — частное лицо, вашим банком могут взиматься комиссионные сборы. Размер сборов вы можете уточнить в вашем банке.
        Для Юридических лиц плательщиком является организация указанная при регистрации.
        Для Частных лиц плательщиком является лицо указанное при регистрации.

        <h5>Банковской картой On-Line</h5>

        При оформлении заказа выберите способ оплаты "Банковской картой". По окончании оформления заказа Вам будет доступна соответствующая форма оплаты. Нажмите "перейти на сайт платежной системы". Далее следуйте инструкциям на сайте платежной системы. Использовать для оплаты разрешается только вашу личную банковскую карту. Все действия с персональными данными осуществляются при помощи защищенного канала на сервере платежной системы. В систему заказов персональные данные о ваших банковских картах не передаются.


        <h5>Безналичный перевод со счета в Приват-Банк</h5>

        Для клиентов банка "ПРИВАТ-Банк"  оплата заказов оформленных с оплатой по безналичному расчету может быть выполнена при помощи сервиса банка Приват24

        ТЕРМИНАЛА для оплаты  НЕТ!!!
    </p>
</div>